.backdrop {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
}
.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;

  max-width: 450px;
  max-height: 609px;
  @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 581px;
  }

  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.backdrop__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-color;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: calc(23 / 20);
  }
}

.backdrop__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  &:hover .backdrop__icon-close {
    fill: $btn-color;
  }
}

.backdrop__icon-close {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  fill: $black-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  @media screen and (min-width: 1200px) {
    max-width: 448px;
  }
}

.form__label {
  position: relative;
  display: block;
  max-width: 370px;
  height: 40px;

  margin-bottom: 28px;
  &:focus-within > .form__input {
    border: 1px solid $btn-color;
    border-radius: 4px;

    outline: $btn-color;
  }
  &:focus-within > .form__icon {
    fill: $btn-color;
  }
  @media screen and (min-width: 1200px) {
    max-width: 448px;
  }
}

.form__comment {
  position: relative;
  display: block;
  max-width: 370px;
  height: 120px;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    max-width: 448px;
  }

  &:focus-within > .form__comment-area {
    border: 1px solid $btn-color;
    border-radius: 4px;

    outline: $btn-color;
  }
}

.form__text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-120%);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: $secondary-color;
}

.form__comment-area {
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;

  &:placeholder-shown {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding-left: 16px;
    padding-top: 12px;
  }
}

.form__input {
  width: 100%;
  height: 100%;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $primary-color;
}

.form__agreement {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__agreement-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: $secondary-color;
  &--colored {
    text-decoration-line: underline;
    color: $btn-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:checked + .form__icon-check {
    background-color: $btn-color;
    border: none;
  }
}

.form__icon-check {
  display: inline-block;
  border-radius: 2px;
  border: 2px solid $black-color;
  margin-right: 8px;
}

.form__button {
  display: flex;
  justify-content: center;
}

.form__submit {
  max-width: 200px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-color;
  background: $btn-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
